.header {
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoHeader {
    display: flex;
    flex: 1;
    min-width: 150px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;


    img{
        width: 20px;
    }


    h1{
        font-size: 1.5rem;
        color: #fff;
    }

}

.navHeader{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 30%;

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;
        justify-content: space-around;
        text-decoration: none;
    }

    .link{
        color: #fff;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


.barraDeBusca{
    flex: 1;
    min-width: 150px;
    gap: 10px;
    display: flex;
    border: solid #fff;
    border-radius: 20px;
    margin-right: 1%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input{
        flex: 1;
        background-color: transparent;
        border: none;
        width: 60%;
        height: 5vh;
        font-size: 1rem;
    }


    &::placeholder{
        color: #fff;
        font-size: 0.9rem;
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}


@media (max-width: 780px) {
    header {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .logoHeader {
      width: 90%;
  
      img {
        width: 15%;
      }
    }
    .navHeader {
      width: 95%;
    }
    .barraDeBusca {
      display: none;
    }
  }
